<%= form_for @event do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :time %>
    <%= form.time_field :time %>
  </div>
  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>
  <div>
    <%= form.label :address_id %>
    <%= form.collection_select :address_id, @addresses, :id, :full_name  %>
  </div>
  <div>
    <%= form.label :organizer_id %>
    <%= form.collection_select :organizer_id, @organizers, :id, :email  %>
  </div>
  <div>
    <%= form.submit %>
  </div>

<% end %>